.flexTicker {
    overflow: hidden;
    position: relative;
}
.flexTicker .flexNumber {
    position: relative;
    margin: 0 1px;
    text-align: center;
    margin: 0;
    letter-spacing: 0px;
}

.flexTicker.leftAlign .flexNumber {
    float: left;
}

.flexTicker.centerAlign .flexNumber {
    float: left;
}

.flexTicker.rightAlign .flexNumber {
    float: right;
}


.flexTicker {
    color: #FFFFFF;
}

